<h2>Track Order #{{ order.order_number }}</h2>

<p>
  Status:
  <span id="order-status" class="badge badge-warning">
    {{ order.status }}
  </span>
</p>

<script>
const orderId = "{{ order.id }}";
const protocol = window.location.protocol === "https:" ? "wss" : "ws";

const socket = new WebSocket(
  protocol + "://" + window.location.host + "/ws/order/" + orderId + "/"
);

socket.onopen = () => {
  console.log("✅ WebSocket connected");
};

socket.onmessage = (e) => {
  const data = JSON.parse(e.data);
  const badge = document.getElementById("order-status");

  if (data.status === "New") {
    badge.innerText = "New";
    badge.className = "badge badge-warning";
    }
    if (data.status === "Accepted") {
    badge.innerText = "Accepted";
    badge.className = "badge badge-primary";
    }
    if (data.status === "Completed") {
    badge.innerText = "Completed";
    badge.className = "badge badge-success";
    }
    if (data.status === "Cancelled") {
    badge.innerText = "Cancelled";
    badge.className = "badge badge-danger";
    }

};

socket.onclose = () => {
  console.log("⚠️ WebSocket closed");
};
</script>
